<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/js/lib/echarts.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/chart/company_chart.js"></script>
    <script src="/js/chart/company_lan.js"></script>
    <link href="/css/buttons.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-image:url(/images/black2.jpg);background-size:cover">
  <nav class="navbar  navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">首页</a>
    </div>
    <div class="nav navbar-nav">   
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/hot">热门用户</a></li>
            <li><a href="/users/company">公司分布</a></li>
            <li><a href="/users/location">地域分布</a></li>
            <li><a href="/users/time">时间分布</a></li>
            <li><a href="/users/follower">用户关系</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">项目 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/repo/popular_repo">热门项目</a></li>
            <li><a href="/repo/popular_language">热门语言</a></li>
            <li><a href="/repo/popular_frame">热门框架</a></li>
            <li><a href="/repo/repo_Word">项目高频词</a></li>
            <li><a href="/repo/repo_Contributor">开源贡献者</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">组织 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/repo/popular_org">热门组织</a></li>
            <li><a href="/repo/repo_month">组织VS个人用户</a></li>
          </ul>
      </li>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">联系我们</a></li>
    </ul>
  </nav> 
  <div class="container-fluid" >
    <div class="row">
      <div class="col-md-4">
        <button class="button button-glow button-rounded button-primary button-small" onclick="company_show()">公司</button>
        <button class="button button-glow button-rounded button-royal button-small" onclick="university_show()">学校</button>
      </div>
      <div class="col-md-1 col-md-offset-7">
        <span class="fa fa-question" title="Tips"  
        data-container="body" data-toggle="popover" data-placement="bottom" data-content="此处仅统计了在个人信息中填写了Company的用户。热门用户排名不分先后，语言统计根据该公司所有用户上榜项目所使用的语言统计得出。相同数目的公司或学校，排名不分先后。"
        id="readme"  style="color:white"> </span>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-8" id="main" style="height:640px"></div>
      <div class="col-md-4">
        <p id="subtitle" style="color:white;font-size:21px">公司热门用户：</p>
        <a id="user0" style="font-size:18px"></a></br>
        <a id="user1" style="font-size:18px"></a></br>
        <a id="user2" style="font-size:18px"></a></br>
        <a id="user3" style="font-size:18px"></a></br>
        <a id="user4" style="font-size:18px"></a></br>
        <a id="user5" style="font-size:18px"></a></br>
        <a id="user6" style="font-size:18px"></a></br>
        <a id="user7" style="font-size:18px"></a></br></br>
        <p style="color:white;font-size:21px">项目使用语言比：</p>
        <div class="row">
          <div class="col-md-12" id="sub" style="height:300px"></div>
        </div>
      </div>
    </div>
  </div>
        <script type="text/javascript">
        $(function () { $("[data-toggle='popover']").popover();});
          $("#readme").mouseover(function(){
            $('#readme').popover('show');
            });
            $("#readme").mouseout(function(){
              $('#readme').popover('hide');
            }); 
        // 基于准备好的dom，初始化echarts实例
        var chart = echarts.init(document.getElementById('main'));
        var pie = echarts.init(document.getElementById('sub'));

        var json_company = {};
        var json_university = {};
        var json_lan_temp = [];
        var config = 1;
        var color = '#00C5CD';
        // 异步加载数据
        $.getJSON('/user_action/company',function(json){
          json_company = json.company;
          json_university = json.university;

          chart.setOption(company_chart(json_company));
          chart_on(config,color);
        }); 

        $.getJSON('/user_action/language',function(json_lan){
          json_lan_temp = json_lan;
        }); 
    </script>
</body>
</html>